[submodule "src/Ymc/HowToAsseticBundle"]
	path = src/Ymc/HowToAsseticBundle
	url = git@github.com:ymc-devel/YmcHowToAsseticBundle.git
[submodule "src/Ymc/HowToAclBundle"]
	path = src/Ymc/HowToAclBundle
	url = git@github.com:ymc-devel/YmcHowToAclBundle.git
[submodule "src/Ymc/HowToServiceContainerBundle"]
	path = src/Ymc/HowToServiceContainerBundle
	url = git@github.com:ymc-devel/YmcHowToServiceContainerBundle.git
